<app-navbar></app-navbar>



  <div class="py-12 px-3 bg-white border-gray-200 dark:bg-gray-900 h-screen">
  
    <form (submit)="addRoom(buildingId!, newRoomName)" class="max-w-sm mx-auto">
      <div class="mb-5">
        <label for="buildingName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add Rooms</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="newRoomName" placeholder="Room name" name="RoomName" required />
      </div>
      <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Add Room</button>
    </form>
  
  
    <div class="py-12 px-3 bg-white border-gray-200 dark:bg-gray-900 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <a *ngFor="let room of rooms" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 [routerLink]="['/room', buildingId, room.id]"  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ room.name }}</h5>
      </a>
    </div>
    
    
  
      
  
  
  </div>